<div class="contextual">
  <%= link_to "Search", {:controller => 'leads', :action => 'search', :id => @project}, :class => 'icon icon-search' %>
</div>

<h2><%= l(:label_lead_new) %></h2>

<% labelled_tabular_form_for :lead, @lead, :url =>{:action => 'create'} do |f|  %>
  <%= render :partial => 'form', :locals => {:f => f}  %>
  <%= submit_tag l(:button_save) -%>
<% end -%>

<% content_for(:header_tags) do %>
  <style type="text/css">
    .icon-users { background-image: url(../../images/users.png); }
  </style>
<% end %>
